---
type Props = {
  author: string;
  size?: "sm" | "lg";
  class?: string;
};

const { author, size = "sm", class: className = "" } = Astro.props;
---

<div class:list={["opacity-80", className]} title={`Author is ${author}`}>
  <p class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
    <em>By {author}</em>
  </p>
</div>
