---
import IconClock from "@/assets/icons/IconClock.svg";

type Props = {
  readingTime?: number;
  size?: "sm" | "lg";
  class?: string;
};

const { readingTime, size = "sm", class: className = "" } = Astro.props;

if (!readingTime || readingTime === 0) {
  return null;
}
---

<div
  class:list={[
    "flex items-center gap-x-1 text-sm opacity-80",
    { "sm:text-base": size === "lg" },
    className,
  ]}
  title={`Reading takes ${readingTime} minutes`}
>
  <IconClock
    class:list={[
      "inline-block size-6 min-w-5.5",
      { "scale-90": size === "sm" },
    ]}
  />

  <span class="mt-0.75">{readingTime} min</span>
</div>
